{% import "partials/post-macros.njk" as posts %}
<!DOCTYPE html>
<html lang="{{ language | default('en') }}">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ category.name }} | San Francisco</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CMuli:400,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="../css/style.css">
	<style>
		.category-page-post[hidden] { display: none !important; }
		.category-featured .post.post-thumb .post-img {
			height: 430px;
		}
		.category-featured .post.post-thumb .post-img img,
		.category-grid-post .post-img img {
			height: 100%;
			object-fit: cover;
		}
		.category-grid-post .post-img {
			aspect-ratio: 1 / 1;
		}
		.category-grid {
			display: flex;
			flex-wrap: wrap;
		}
		.category-grid-post {
			display: flex;
			float: none;
		}
		.category-grid-post .post {
			width: 100%;
		}
		@media only screen and (max-width: 767px) {
			.category-featured .post.post-thumb .post-img {
				height: 320px;
			}
			.category-grid-post {
				width: 100%;
			}
		}
	</style>
</head>

<body>
	<header id="header">
		{% set headerMenuTabs = page.menuTabs %}
		{% include "partials/shared-header.njk" %}

		<div class="page-header">
			<div
				class="page-header-bg"
				{% if category.image %}style="background-image: url('{{ category.image }}');"{% endif %}
				data-stellar-background-ratio="0.5"
			></div>
			<div class="container">
				<div class="row">
					<div class="col-md-offset-1 col-md-10 text-center">
						<h1 class="text-uppercase">{{ category.name }}</h1>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-8" id="category-article-list" data-total-pages="{{ total_pages }}">
					{% for article in articles %}
					{% if loop.index == 1 %}
					<div
						class="category-page-post category-featured"
						data-page="{{ article.page_number }}"
					>
						{{ posts.card(article, "post-thumb", "title-lg") }}
					</div>
					{% elif loop.index >= 2 and loop.index <= 5 %}
					{% if loop.index == 2 %}<div class="row category-grid">{% endif %}
						<div class="col-sm-6 category-page-post category-grid-post" data-page="{{ article.page_number }}">
							{{ posts.card(article) }}
						</div>
					{% if loop.index == 5 or loop.last %}</div>{% endif %}
					{% else %}
					<div
						class="category-page-post"
						data-page="{{ article.page_number }}"
						{% if article.page_number > 1 %}hidden{% endif %}
					>
						{{ posts.card(article, "post-row", "", true) }}
					</div>
					{% endif %}
					{% else %}
					<div class="section-row text-center">
						<p>No articles found.</p>
					</div>
					{% endfor %}

					{% if total_pages > 1 %}
					<div class="section-row loadmore text-center" id="category-load-more-wrap">
						<button type="button" class="primary-button" id="category-load-more">Load More</button>
					</div>
					{% endif %}
				</div>

				{% set sidebarCategories = sidebar.categories %}
				{% include "partials/shared-sidebar.njk" %}
			</div>
		</div>
	</div>

	{% include "partials/shared-footer.njk" %}

	<script src="../js/jquery.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/jquery.stellar.min.js"></script>
	<script src="../js/main.js"></script>
	<script>
		(function () {
			var list = document.getElementById("category-article-list");
			var button = document.getElementById("category-load-more");
			var wrapper = document.getElementById("category-load-more-wrap");

			if (!list || !button || !wrapper) return;

			var currentPage = 1;
			var totalPages = Number(list.getAttribute("data-total-pages")) || 1;

			button.addEventListener("click", function () {
				currentPage += 1;
				var nextItems = list.querySelectorAll('[data-page="' + currentPage + '"]');

				for (var index = 0; index < nextItems.length; index += 1) {
					nextItems[index].hidden = false;
				}

				if (currentPage >= totalPages) {
					wrapper.hidden = true;
				}
			});
		})();
	</script>
</body>

</html>
