{% import "partials/post-macros.njk" as posts %}
{% set ad_unit_prefix = ad_unit_prefix | default('/23323840973/ca-pub-5241421136842676-tag') %}
{% set ad_site = ad_site | default('green.letreco.cc') %}
{% set ga4_measurement_id = ga4_measurement_id | default('') %}
<!DOCTYPE html>
<html lang="{{ language | default('en') }}">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>{{ category.name }} | San Francisco</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CMuli:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="../css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="../css/style.css" />

	<script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js" crossorigin="anonymous"></script>
	<script>
		window.googletag = window.googletag || { cmd: [] };

		googletag.cmd.push(function () {
			googletag.defineSlot(
				'{{ ad_unit_prefix }}/{{ ad_site }}-Top-1',
				[[300, 100], [336, 280], [320, 100], [300, 250], 'fluid'],
				'div-top-1'
			).addService(googletag.pubads());

			var anchorSlot = googletag.defineOutOfPageSlot(
				'{{ ad_unit_prefix }}/{{ ad_site }}-Bottom-Anchor',
				googletag.enums.OutOfPageFormat.BOTTOM_ANCHOR
			);

			if (anchorSlot) {
				anchorSlot.addService(googletag.pubads());
			}

			var interstitialSlot = googletag.defineOutOfPageSlot(
				'{{ ad_unit_prefix }}/{{ ad_site }}-Interstitial',
				googletag.enums.OutOfPageFormat.INTERSTITIAL
			);

			if (interstitialSlot) {
				interstitialSlot.addService(googletag.pubads());
			}

			googletag.pubads().enableSingleRequest();

			googletag.pubads().enableLazyLoad({
				fetchMarginPercent: 200,
				renderMarginPercent: 100,
				mobileScaling: 2
			});

			googletag.pubads().collapseEmptyDivs(true);
			googletag.enableServices();

			googletag.display('div-top-1');

			if (anchorSlot) {
				googletag.display(anchorSlot);
			}

			if (interstitialSlot) {
				googletag.display(interstitialSlot);
			}
		});
	</script>

	{% if ga4_measurement_id %}
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ ga4_measurement_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', '{{ ga4_measurement_id }}');
	</script>

	<script data-cfasync="false" src="https://green.letreco.cc/js/ga4-engagement.js?v=20251030"></script>
	{% endif %}

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<center>
	<!-- {{ ad_unit_prefix }}/{{ ad_site }}-Top-1 -->
	<div id="div-top-1" style="min-width:300px;min-height:100px;"></div>
	</center>

	<!-- HEADER -->
	<header id="header">
		{% set headerMenuTabs = page.menuTabs %}
		{% include "partials/shared-header.njk" %}
	</header>
	<!-- /HEADER -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div id="hot-post" class="row hot-post">
				<div class="col-md-8 hot-post-left">
					{{ posts.card(page.hotPosts.featured, "post-thumb", "title-lg") }}
				</div>
				<div class="col-md-4 hot-post-right">
					{% for post in page.hotPosts.secondary %}
					{{ posts.card(post, "post-thumb") }}
					{% endfor %}
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<div class="section-title">
								<h2 class="title">Recent posts</h2>
							</div>
						</div>
						{% for post in page.recentPosts %}
						<div class="col-md-6">
							{{ posts.card(post) }}
						</div>
						{% if loop.index % 2 == 0 and not loop.last %}
						<div class="clearfix visible-md visible-lg"></div>
						{% endif %}
						{% endfor %}
					</div>

					{% for section in page.categorySections %}
					<div class="row">
						<div class="col-md-12">
							<div class="section-title">
								<h2 class="title">{{ section.title }}</h2>
							</div>
						</div>
						{% for post in section.posts %}
						<div class="col-md-4">
							{{ posts.card(post, "post-sm", "title-sm") }}
						</div>
						{% endfor %}
					</div>
					{% endfor %}
				</div>
				<!-- shared-sidebar:start -->
				{% set sidebarCategories = sidebar.categories %}
				{% include "partials/shared-sidebar.njk" %}
				<!-- shared-sidebar:end -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-8" id="index-feed-list" data-total-pages="{{ total_pages }}">
					{% for post in page.feedPosts %}
					<div
						class="index-feed-post"
						data-page="{{ post.page_number }}"
						{% if post.page_number > 1 %}hidden{% endif %}
					>
						{{ posts.card(post, "post-row", "", true) }}
					</div>
					{% endfor %}
					{% if total_pages > 1 %}
					<div class="section-row loadmore text-center" id="index-load-more-wrap">
						<button type="button" class="primary-button" id="index-load-more">Load More</button>
					</div>
					{% endif %}
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	{% include "partials/shared-footer.njk" %}

	<!-- jQuery Plugins -->
	<script src="../js/jquery.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/jquery.stellar.min.js"></script>
	<script src="../js/main.js"></script>
	<script>
		(function () {
			var list = document.getElementById("index-feed-list");
			var button = document.getElementById("index-load-more");
			var wrapper = document.getElementById("index-load-more-wrap");

			if (!list || !button || !wrapper) return;

			var currentPage = 1;
			var totalPages = Number(list.getAttribute("data-total-pages")) || 1;

			button.addEventListener("click", function () {
				currentPage += 1;
				var nextItems = list.querySelectorAll('[data-page="' + currentPage + '"]');

				for (var index = 0; index < nextItems.length; index += 1) {
					nextItems[index].hidden = false;
				}

				if (currentPage >= totalPages) {
					wrapper.hidden = true;
				}
			});
		})();
	</script>

</body>

</html>
